*venv/
venv/
ENV/
env/

__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

.env
.env.*
!.env.example

*.sqlite3
*.db

node_modules/
/.pnp
.pnp.js

dist/
build/

.vite/
.svelte-kit/
.npm
*.tsbuildinfo

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
*.log